<h1>Ask anything</h1>

<form action="/answer" class="form">
 <input type="text" placeholder="should I hire william?" class="input_box" name="user_question">
 <input type="submit" class="btn btn-primary" value="Ask Away">
</form>
